{%  extends 'encabezado.html' %}
{% block body %}

<h3>Catalogo de bicis</h3>

<div class="row">
<div class="col-8">
    <table class="table table-border bg-aqua"> <!--LISTADO-->
        <thead>
            <tr>
                <td>Cod de la bici</td>
                <td>Tipo</td>
                <td>Rodado</td>
                <td>Marca</td>
                <td>Descripcion</td>
                <td>Precio</td>
            </tr>
        </thead>
        <tbody>  <!--lleno las consultas-->
            {% for bici in bici %}
                <tr>
                    <td>{{ bici.0 }}</td> 
                    <td>{{ bici.1 }}</td>
                    <td>{{ bici.2 }}</td>
                    <td>{{ bici.3 }}</td> 
                    <td>{{ bici.4 }}</td>
                    <td>{{ bici.5 }}</td>
                    <td>{{ bici.6 }}</td>
                </tr> 
            {% endfor %}
        </tbody>
    </table>
</div>
</div>

{% with messages = get_flashed_messages() %} <!--funcion-->
{% if messages %}
{% for message in messages %}
    
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{message}} 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>

{% endfor %}
{% endif %}
{% endwith %}

<div class="row">
    <h3>COMPRA</h3>
    <div class="col-md-6">
        <div class="card card-body">
            <form action="/agregarVentas" method="POST">
                <div class="form-group">
                    <p>DNI<input type="number" name="dni" required class="form-control"  placeholder="max 8 numeros"></p>
                </div>
                <div class="form-group">
                    <label for="nombre">NOMBRE</label><input type="text" name="nombre" class="form-control">  
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido</label><input type="text" name="apellido" class="form-control">
                </div>
                <div class="form-group">
                    <p>Telefono: <input type="number" name="telef" placeholder="Telefono" class="form-control"></p>
                </div>
                <div class="form-group">
                    <p>Codigo Bicicleta: 
                        <select name="cod_Bici" id="" class="form-control"> 
                            <option value="BM3">BM3</option>
                            <option value="MB21">MB21</option>
                            <option value="MB25">MB25</option>
                            <option value="PL2">PL2</option>
                            <option value="PS45">PS45</option>
                        </select>
                    </p>
                </div>
                <div class="form-group">
                    <p>Fecha: <input type="date" name="fecha_Venta" placeholder="aaaa-mm-dd" class="form-control"></p>
                </div>
                <div class="form-group">
                    <p>Precio: <input type="number" name="precio" class="form-control"></p>
                </div> 
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn block"> Save </button> 
                </div>   
            </form>
        </div>
    </div>
    <br> <br>
    <h3>Tabla de las Ventas</h3>
    <div class="col-8">
        <table class="table table-border bg-aqua"> <!--LISTADO-->
            <thead>
                <tr>
                    <td>ID_venta</td>
                    <td>Dni</td>
                    <td>Nombre</td>
                    <td>Apellido</td>
                    <td>Telefono</td>
                    <td>cod_Bici</td>
                    <td>Fecha</td>
                    <td>Precio</td>
                    <td>Operaction</td>
                </tr>
            </thead>
            <tbody>  <!--lleno las consultas-->
                {% for venta in ventas  %}
                <tr>
                    <td>{{ venta.0 }}</td> 
                    <td>{{ venta.1 }}</td>
                    <td>{{ venta.2 }}</td>
                    <td>{{ venta.3 }}</td> 
                    <td>{{ venta.4 }}</td>
                    <td>{{ venta.5 }}</td>
                    <td>{{ venta.6 }}</td>
                    <td>{{ venta.7 }}</td>
                    <td> 
                        <a href="/editVenta/{{venta.0}}" class="text-secondary">Editar</a>
                        <a href="/eliminarVenta/{{venta.0}}">Eliminar</a>
                    </td>
                </tr> 
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>




{% endblock %}